{% extends "layout.html" %}

{% block history %}
	<div class="guess-hist">
		{% for guess in guesses %}
			<div class="guess">
				{% for col in guess.guess %}
					<div class="collor" style="background-color:{{ col }};"></div>
				{% endfor %}
				<div class="hint">
				{% for col in guess.hint %}
					<div class="hint-tile" style="background-color:{{ col }};"></div>
				{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block guess %}
<div class="entry">
<form action="{{ url_for('index') }}" method="post">
		<div class="col_choice">
			<h6>First Tile</h6>
			<input type="radio" name="col1" value="Red">Red
			<input type="radio" name="col1" value="Blue">Blue
			<input type="radio" name="col1" value="Green">Green
			<input type="radio" name="col1" value="Yellow">Yellow
			<input type="radio" name="col1" value="Black">Black
			<input type="radio" name="col1" value="White">White
		</div>
		<div class="col_choice">
			<h6>Second Tile</h6>
			<input type="radio" name="col2" value="Red">Red
			<input type="radio" name="col2" value="Blue">Blue
			<input type="radio" name="col2" value="Green">Green
			<input type="radio" name="col2" value="Yellow">Yellow
			<input type="radio" name="col2" value="Black">Black
			<input type="radio" name="col2" value="White">White
		</div>
		<div class="col_choice">
			<h6>First Tile</h6>
			<input type="radio" name="col3" value="Red">Red
			<input type="radio" name="col3" value="Blue">Blue
			<input type="radio" name="col3" value="Green">Green
			<input type="radio" name="col3" value="Yellow">Yellow
			<input type="radio" name="col3" value="Black">Black
			<input type="radio" name="col3" value="White">White
		</div>
		<div class="col_choice">
			<h6>First Tile</h6>
			<input type="radio" name="col4" value="Red">Red
			<input type="radio" name="col4" value="Blue">Blue
			<input type="radio" name="col4" value="Green">Green
			<input type="radio" name="col4" value="Yellow">Yellow
			<input type="radio" name="col4" value="Black">Black
			<input type="radio" name="col4" value="White">White
		</div>
		<input id="submit" type="submit" value="submit">
	</form>
</div>
{% endblock %}
